@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}
body #card_first {
    margin: 20px 50px;
    width: 245px;
    height: 170px;
    padding: 7px;
    border: 0.1px solid #000;
}
body #card_first .d-f {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 52px;
}
body #card_first .d-f img:first-child {
    width: 38px;
    height: 34px;
}
body #card_first .d-f img:last-child {
    width: 40px;
    height: 50px;
}
body #card_first .d-f h1 {
    width: 134px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 13px;
    text-transform: uppercase;
    color: #0081BE;
}
body #card_first .bg {
    width: 100%;
    height: 104px;
    /*background-size: cover;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body #card_first .bg img {
    /*width: 65px;*/
    /*height: 80px;*/
    width: 60px;
    height: 75px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -10px;
}
body #card_first .bg .txt h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 6px;
    line-height: 7px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 3px;
}
body #card_first .bg .txt h2 span {
    color: red;
}
body #card_first .bg .txt h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 6px;
}
body #card_first .bg .txt h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 7px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 3px;
}
body #card_first .bg .txt h4 {
    width: 140px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 140%;
    /* or 8px */
    color: #FFFFFF;
}
body #card_last {
    margin: 20px 50px;
    width: 245px;
    height: 170px;
    padding: 7px;
    border: 0.1px solid #000;
}
body #card_last .d-f {
    display: flex;
    align-items: center;
}
body #card_last .d-f:first-child {
    height: 52px;
}
body #card_last .d-f img {
    width: 38px;
    height: 34px;
    margin: 0 14px 0 6px;
}
body #card_last .d-f h1 {
    width: 134px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 13px;
    text-transform: uppercase;
    color: #0081BE;
}
body #card_last .d-f .txt {
    display: flex;
    flex-wrap: wrap;
}
body #card_last .d-f:last-child {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
body #card_last .d-f a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 6px;
    line-height: 7px;
    /* identical to box height */
    color: #000000;
    margin: 3px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}
body #card_last .d-f a ion-icon {
    width: 10px;
    height: 10px;
    background: linear-gradient(282.99deg, #52C7FF 2.89%, #0081BE 89.9%);
    border-radius: 50%;
    color: #fff;
    font-size: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}
body #card_last .bg {
    width: 100%;
    height: 66px;
    background-size: cover;
    padding-left: 11px;
}
#card_last .bg h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
    padding-top: 10px;
}
body #card_last .bg h2 span {
    color: red;
}

.span_n{
    color: red;
}
body #card_last .bg h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    margin-top: 5px;
}
body #card_last .bg h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 140%;
    /* identical to box height, or 8px */
    color: #78D4FF;
    margin-top: 5px;
}/*# sourceMappingURL=style.css.map */
