@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
*{
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
}
p,b{
    margin: 2px;
    font-size: 15px;
}
.main{

    width: 240mm;
    height: 150mm;
    display: flex;
    flex-direction: row;
    /*background: url('/bg.jpg');*/
    /*background-repeat: no-repeat, repeat;*/
    /*background-position: center;*/
    /*background-size: cover*/
    /*border: 1px solid #ccc;*/
}

.row{
    position: relative;
    width: 110mm;
    height: 147mm;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    border: 1px solid #ccc;
    padding: 4px;
    background: url('/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
.row-2{
    width: 100%;
    height: 39mm;
    display: flex;
    flex-direction: row;
}

.row3{
    position: relative;
    width: 110mm;
    height: 150mm;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    border: 1px solid #ccc;
    padding: 4px;
    background: url('/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.main2{

    width: 240mm;
    height: 290mm;
    display: flex;
    flex-direction: row;
    /*background: url('/bg.jpg');*/
    /*background-repeat: no-repeat, repeat;*/
    /*background-position: center;*/
    /*background-size: cover*/
    /*border: 1px solid #ccc;*/
}


.img {
    margin: 4px;
    min-width: 30mm;
    min-height: 39mm;
    border: 1px solid #ccc;
}

.title {
    text-align: center;
    color: #0a58ca;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 30px;
}

.title-2{
    text-align: center;
    /*color: #0a58ca;*/
    font-weight: bold;
    font-size: 18px;
}


.center {
    text-align: center;
}

.top{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.main3{
    width: 240mm;
    height: 290mm;
    display: flex;
    flex-direction: row;
}
