/*@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');*/
/**{*/
/*    font-family: 'Exo 2', sans-serif;*/
/*    font-size: 15px;*/
/*}*/
/*p,b{*/
/*    margin: 2px;*/
/*    font-size: 16px;*/
/*}*/
/*.main{*/

/*    width: 230mm;*/
/*    !*height: 290mm;*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*background: url('/bg.jpg');*!*/
/*    !*background-repeat: no-repeat, repeat;*!*/
/*    !*background-position: center;*!*/
/*    !*background-size: cover*!*/
/*    !*border: 1px solid #ccc;*!*/
/*}*/

/*.row{*/
/*    position: relative;*/
/*    width: 120mm;*/
/*    height: 68mm;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: start;*/
/*    align-content: start;*/
/*    border: 1px solid #ccc;*/
/*    padding: 4px;*/
/*    background: url('/bg.jpg');*/
/*    background-repeat: no-repeat, repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/

/*.row1{*/
/*    position: relative;*/
/*    width: 108mm;*/
/*    height: 76mm;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: start;*/
/*    align-content: start;*/
/*    border: 1px solid #ccc;*/
/*    padding: 4px;*/
/*    background: url('/bg.jpg');*/
/*    background-repeat: no-repeat, repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/

/*.row2 {*/
/*    width: 108mm;*/
/*    height: 72mm;*/
/*}*/
/*.row-2{*/
/*    width: 100%;*/
/*    height: 39mm;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.img {*/
/*    margin: 4px;*/
/*    min-width: 30mm;*/
/*    min-height: 35mm;*/
/*    border: 1px solid #ccc;*/
/*}*/

/*.title {*/
/*    text-align: center;*/
/*    color: #0a58ca;*/
/*    font-weight: bold;*/
/*    margin-bottom: 4px;*/
/*    font-size: 25px;*/
/*}*/

/*.title-2{*/
/*    text-align: center;*/
/*    !*color: #0a58ca;*!*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/


/*.center {*/
/*    text-align: center;*/
/*}*/

/*.top{*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    bottom: 15px;*/
/*}*/


/*.page { page-break-before:always; }*/

/*.title2{*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    font-size: 1.3em;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

/*.title3{*/
/*    text-align: center;*/
/*    color: #0a58ca;*/
/*    font-weight: bold;*/
/*    margin-bottom: 4px;*/
/*    font-size: 1em;*/

/*}*/

/*.font{*/
/*    text-align: justify;*/
/*    font-size: 1.2em;*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*}*/

/*.font6{*/
/*    text-align: justify;*/
/*    font-size: 1em;*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*}*/

/*.font1{*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    font-size: 1em;*/
/*    text-align: center;*/
/*}*/

/*.font2{*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    font-size: 1.2em;*/
/*    text-align: center;*/
/*}*/


/*.title4{*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    text-align: center;*/
/*    color: #0a58ca;*/
/*    font-weight: bold;*/
/*    margin-bottom: 4px;*/
/*    font-size: 1.6em;*/
/*}*/

/*.font3{*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    font-size: 1.4em;*/
/*    text-align: center;*/
/*}*/

/*.font4{*/
/*    text-align: justify;*/
/*    font-size: 15pt;*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*}*/

/*.font5{*/
/*    text-align: left;*/
/*    font-size: 1.2em;*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*}*/

/*.title5{*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    font-size: 1.1em;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/





@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
*{
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
}
p,b{
    margin: 2px;
    font-size: 16px;
}
.main{

    width: 240mm;
    height: 290mm;
    display: flex;
    flex-direction: row;
    /*background: url('/bg.jpg');*/
    /*background-repeat: no-repeat, repeat;*/
    /*background-position: center;*/
    /*background-size: cover*/
    /*border: 1px solid #ccc;*/
}

.row{
    position: relative;
    width: 110mm;
    height: 145mm;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    border: 1px solid #ccc;
    padding: 4px;
    background: url('/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.row1{
    position: relative;
    width: 110mm;
    height: 75mm;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    border: 1px solid #ccc;
    padding: 4px;
    background: url('/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.row2 {
    width: 110mm;
    height: 80mm;
}
.row-2{
    width: 100%;
    height: 39mm;
    display: flex;
    flex-direction: row;
}

.img {
    margin: 4px;
    min-width: 30mm;
    min-height: 39mm;
    border: 1px solid #ccc;
}

.title {
    text-align: center;
    color: #0a58ca;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 25px;
}

.title-2{
    text-align: center;
    /*color: #0a58ca;*/
    font-weight: bold;
    font-size: 18px;
}


.center {
    text-align: center;
}

.top{
    position: absolute;
    right: 15px;
    bottom: 15px;
}


.page { page-break-before:always; }


.font1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.font2{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
}

.font{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

.last{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    text-align: justify;
}

.last1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    text-align: left;
}
